# top-level directories and files
data/
.git/
log/
notes/
__pycache__/
.pytest_cache/
resources/
save/
scripts/
sessions/
tests/
uploads/
venv/
.vscode/

Dockerfile
*.Dockerfile
.dockerignore
.gitignore
pyproject.toml
.python-version
*.csv
*.sh

# subdirectories and files (by type)
**/examples/
**/favicon/
**/screenshots/

**/*.excalidraw
**/*.html
**/*.jpg
**/*.md
**/*.pdf
**/*.png
**/*.xcf
**/*.xlsx

**/*~
**/\#*\#

**/*-disabled
**/*-orig
**/*-prev
**/*-save

# exclusions
!requirements.txt
!static/*.png
!templates/*.html
