save/
sessions/
backup/
high_res/
low_res/

*.tourn_db
*.tourn_db-shm
*.tourn_db-wal
*.player_data
*.team_data
*.data
*.excalidraw

/clear_*.sh
/archive_*.sh
/*.html
/*.xlsx
/*.csv

/log/
/data/
/uploads/
/notes/
