<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <style>
     form {
       overflow: hidden;
     }
     table {
       margin-top: 0.3rem;
     }
     input[readonly] {
       border: thin solid grey;
       background-color: #F0F0F0;
     }
     input[type="text"] {
       width: 12rem;
     }
     input[type="number"] {
       width: 3rem;
     }
     .attn {
       background-color: #FFE4E1;
     }
     .demo {
       background-color: #AFEEEE;
     }
     .err_dlg {
       padding: 1.1rem 1.4rem;
     }
     .err_dlg div {
       width: 22rem;
       color: #D10000;
       overflow: auto;
     }
     .err_dlg button {
       margin-top: 1.2rem;
     }
     .container {
       overflow: hidden;
     }
     .section {
       margin-top: 0.5rem;
       position: relative;
     }
     .section_lbl {
       font-size: x-large;
       font-weight: bold;
     }
     .subsect {
       margin-top: 0.5rem;
       overflow: hidden;
     }
     .view_sel {
       margin-left: 1.5rem;
       font-weight: bold;
     }
     .view_sel label {
       margin-left: 0.6rem;
       font-weight: bold;
     }
     .view_title {
       font-size: x-large;
       font-weight: bold;
       position: absolute;
       top: 0.3rem;
     }
     .info_blk {
       padding: 0.8rem 0 0.5rem 1.0rem;
     }
     .stage_blk {
       padding-left: 1.0rem;
     }
     .info_blk span,
     .stage_blk span {
       margin-right: 1.5rem;
     }
     .info_blk input {
       margin-left: 0.3rem;
       padding: 0.1rem 0.35rem;
     }
     .stage_blk input {
       margin-left: 0.3rem;
       padding: 0.1rem 0.35rem;
       width: 13rem;
     }
     .players,
     .seeding,
     .partners,
     .teams,
     .round_robin {
       display: none;
       width: 80rem;
     }
     .buttons {
       clear: both;
       padding: 1.0rem 0;
     }
     .buttons button {
       margin-right: 0.8rem;
       padding: 0.2rem 0.8rem;
     }
     .buttons a {
       margin-right: 0.5rem;
       /* padding: 0.2rem 0.2rem; */
     }
     .lnk_lbl {
       margin-left: 1.0rem;
       margin-right: 0.3rem;
     }
    </style>
    <link href="/static/datatables.min.css" rel="stylesheet">
  </head>

  <body>
    <dialog class="err_dlg">
      <div></div>
      <button autofocus>Close</button>
    </dialog>
    <div class="container">
      <div class="section">
        <span class="section_lbl">{{tourn.name}}</span>
        <span class="view_sel">
          View:
          <label>Players<input type="radio" name="view_rdo" value="/players"{{view_chk[0]}}></label>
          <label>Seeding<input type="radio" name="view_rdo" value="/seeding"{{view_chk[1]}}></label>
          <label>Partners<input type="radio" name="view_rdo" value="/partners"{{view_chk[2]}}></label>
          <label>Teams<input type="radio" name="view_rdo" value="/teams"{{view_chk[3]}}></label>
          <label>Round Robin<input type="radio" name="view_rdo" value="/round_robin"{{view_chk[4]}}></label>
        </span>
        <div class="subsect info_blk">
          <input name="tourn_name" type="hidden" value="{{tourn.name}}">
          <span>Players:<input name="players" type="number" value="{{tourn.players}}" disabled></span>
          <span>Teams:<input name="teams" type="number" value="{{tourn.teams}}" disabled></span>
          <span>THM Teams:<input name="thm_teams" type="number" value="{{tourn.thm_teams}}" disabled></span>
        </div>
        <div class="subsect stage_blk">
          <span>Current Stage:<input name="cur_stage" type="text" value="{{tourn.cur_stage}}" disabled></span>
          <span>Next:<input name="next_action" type="text" value="{{tourn.next_action if tourn.next_action else ''}}" disabled></span>
        </div>
      </div>

      {% if view_chk[0] %}
      <div class="section players">
        <span class="view_title">{{view_name[0]}}</span>
        <table id="plyr_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in pl_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/players" method="post">
            <button class="submit" value="{{btn_val[2]}}"{{btn_attr[2]}}>Generate Player Nums</button>
            <button class="submit" value="{{btn_val[3]}}"{{btn_attr[3]}}>Create Seeding Bracket</button>
          </form>
        </div>
      </div>
      {% endif %}

      {% if view_chk[1] %}
      <div class="section seeding">
        <span class="view_title">{{view_name[1]}}</span>
        <table id="seed_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in sg_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/seeding" method="post">
            <button class="submit demo" value="{{btn_val[4]}}"{{btn_attr[4]}}>Generate Fake Results</button>
            <button class="submit" value="{{btn_val[5]}}"{{btn_attr[5]}}>Tabulate Results</button>
            <span class="lnk_lbl">Display:</span>
            <a href="#" onclick="window.open('/chart/sd_bracket', '_blank')"">Seeding Round Bracket</a>
            <a href="#" onclick="window.open('/chart/sd_scores', '_blank')"">Seeding Round Scores</a>
            <a href="#" onclick="window.open('/dash/sd_dash', '_blank')"">Live Dashboard</a>
          </form>
        </div>
      </div>
      {% endif %}

      {% if view_chk[2] %}
      <div class="section partners">
        <span class="view_title">{{view_name[2]}}</span>
        <table id="ptnr_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in pt_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/partners" method="post">
            <button class="submit demo" value="{{btn_val[6]}}"{{btn_attr[6]}}>Generate Fake Picks</button>
            <button class="submit" value="{{btn_val[7]}}"{{btn_attr[7]}}>Compute Team Seeds</button>
          </form>
        </div>
      </div>
      {% endif %}

      {% if view_chk[3] %}
      <div class="section teams">
        <span class="view_title">{{view_name[3]}}</span>
        <table id="team_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in tm_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/teams" method="post">
            <button class="submit" value="{{btn_val[8]}}"{{btn_attr[8]}}>Create Round Robin Brackets</button>
          </form>
        </div>
      </div>
      {% endif %}

      {% if view_chk[4] %}
      <div class="section round_robin">
        <span class="view_title">{{view_name[4]}}</span>
        <table id="rr_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in tg_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/round_robin" method="post">
            <button class="submit demo" value="{{btn_val[9]}}"{{btn_attr[9]}}>Generate Fake Results</button>
            <button class="submit" value="{{btn_val[10]}}"{{btn_attr[10]}}>Tabulate Results</button>
            <span class="lnk_lbl">Display:</span>
            <a href="#" onclick="window.open('/chart/rr_brackets', '_blank')"">Round Robin Brackets</a>
            <a href="#" onclick="window.open('/chart/rr_scores', '_blank')"">Round Robin Scores</a>
            <a href="#" onclick="window.open('/dash/rr_dash', '_blank')"">Live Dashbaord</a>
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </body>

  <script src="/static/jquery-3.7.1.min.js"></script>
  <script src="/static/datatables.min.js"></script>
  <script>
   $(function() {
     // add css and attributes
     $(".submit").attr({
       type: 'submit',
       name: "submit_func"
     });

     // error dialog
     $('.err_dlg button').on('click', function() {
       $('.err_dlg')[0].close();
     });
     const show_error = function(err_text) {
       $('.err_dlg div').text(err_text);
       $('.err_dlg')[0].showModal();
     };

     // view selection
     $(".view_sel input").on('change', function() {
       const path = $(".view_sel input:checked").val();
       window.location.href = window.location.origin + path;
     });

     {% if view_chk[0] %}
     // players view
     if ("{{view_chk[0]}}") {
       const editable = function(node) {
         let orig_val;

         node.classList.add("pick");
         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $(e.target).removeClass("attn");
         });

         node.addEventListener('blur', function(e) {
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/players/data', post_data)
              .done(function(resp) {
                console.log('POST /players/data done: ', resp);
                if (resp.err) {
                  cell.data(orig_val).draw();
                  $(e.target).addClass("attn");
                  show_error(resp.err);
                }
                else if (resp.succ && resp.data) {
                  console.log('Updating row data: ', resp.data);
                  row.data(resp.data).draw();
                }
              })
              .fail(function(resp) {
                console.log('POST /players/data fail: ', resp);
                cell.data(orig_val).draw();
                $(e.target).addClass("attn");
                show_error(resp.statusText);
                win = window.open('', '_blank')
                win.document.body.innerHTML = resp.responseText;
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#plyr_tbl').DataTable({
         rowId: 'nick_name',
         paging: false,
         scrollX: true,
         scrollY: '35rem',
         //fixedColumns: {
         //  start: 3
         //},
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/players/data',
           dataSrc: 'data'
         },
         deferRender: true,
         columns: [
           {% for col in pl_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in pl_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         //order: [[0, 'asc']],  // player.id
         initComplete: function(settings, json) {
           $(".players").css('display', 'block');
           table.columns.adjust().draw();
         }
       });
     }
     {% endif %}

     {% if view_chk[1] %}
     // seeding view
     if ("{{view_chk[1]}}") {
       const editable = function(node) {
         let orig_val;

         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $(e.target).removeClass("attn");
         });

         node.addEventListener('blur', function(e) {
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/seeding/data', post_data)
              .done(function(resp) {
                console.log('POST /seeding/data done: ', resp);
                if (resp.err) {
                  cell.data(orig_val).draw();
                  $(e.target).addClass("attn");
                  show_error(resp.err);
                }
                else if (resp.succ && resp.data) {
                  console.log('Updating row data: ', resp.data);
                  row.data(resp.data).draw();
                }
              })
              .fail(function(resp) {
                console.log('POST /seeding/data fail: ', resp);
                cell.data(orig_val).draw();
                $(e.target).addClass("attn");
                show_error(resp.statusText);
                win = window.open('', '_blank')
                win.document.body.innerHTML = resp.responseText;
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#seed_tbl').DataTable({
         rowId: 'label',
         paging: false,
         scrollX: true,
         scrollY: '35rem',
         //fixedColumns: {
         //  start: 3
         //},
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/seeding/data',
           dataSrc: 'data'
         },
         deferRender: true,
         columns: [
           {% for col in sg_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in sg_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         //order: [[0, 'asc']],  // seed_game.id
         initComplete: function(settings, json) {
           $(".seeding").css('display', 'block');
           table.columns.adjust().draw();
         }
       });
     }
     {% endif %}

     {% if view_chk[2] %}
     // partners view
     if ("{{view_chk[2]}}") {
       const editable = function(node) {
         let orig_val;

         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $('td[contenteditable].attn').removeClass("attn");
           window.getSelection().selectAllChildren(e.target);
         });

         node.addEventListener('blur', function(e) {
           window.getSelection().empty();
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/partners/data', post_data)
              .done(function(resp) {
                console.log('POST /partners/data done: ', resp);
                if (resp.err) {
                  cell.data(orig_val).draw();
                  $(e.target).addClass("attn");
                  show_error(resp.err);
                }
                else if (resp.data == 'all') {
                  console.log('Reloading table data');
                  table.ajax.reload();
                }
              })
              .fail(function(resp) {
                console.log('POST /partners/data fail: ', resp);
                cell.data(orig_val).draw();
                $(e.target).addClass("attn");
                show_error(resp.statusText);
                win = window.open('', '_blank')
                win.document.body.innerHTML = resp.responseText;
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#ptnr_tbl').DataTable({
         rowId: 'nick_name',
         paging: false,
         scrollX: true,
         scrollY: '35rem',
         //fixedColumns: {
         //  start: 3
         //},
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/partners/data',
           dataSrc: 'data'
         },
         deferRender: true,
         columns: [
           {% for col in pt_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in pt_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         order: [[1, 'asc']],  // player_rank
         initComplete: function(settings, json) {
           $(".partners").css('display', 'block');
           table.columns.adjust().draw();
         }
       });

       // TODO: set initial focus (and/or highlight) here!!!
     }
     {% endif %}

     {% if view_chk[3] %}
     // teams view
     if ("{{view_chk[3]}}") {
       const editable = function(node) {
         let orig_val;

         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $(e.target).removeClass("attn");
         });

         node.addEventListener('blur', function(e) {
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/teams/data', post_data)
              .done(function(resp) {
                console.log('POST /teams/data done: ', resp);
                if (resp.err) {
                  cell.data(orig_val).draw();
                  $(e.target).addClass("attn");
                  show_error(resp.err);
                }
                else if (resp.succ && resp.data) {
                  console.log('Updating row data: ', resp.data);
                  row.data(resp.data).draw();
                }
              })
              .fail(function(resp) {
                console.log('POST /teams/data fail: ', resp);
                cell.data(orig_val).draw();
                $(e.target).addClass("attn");
                show_error(resp.statusText);
                win = window.open('', '_blank')
                win.document.body.innerHTML = resp.responseText;
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#team_tbl').DataTable({
         rowId: 'team_name',
         paging: false,
         scrollX: true,
         scrollY: '35rem',
         //fixedColumns: {
         //  start: 2
         //},
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/teams/data',
           dataSrc: 'data'
         },
         deferRender: true,
         columns: [
           {% for col in tm_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in tm_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         order: [[1, 'asc']],  // teem_seed
         initComplete: function(settings, json) {
           $(".teams").css('display', 'block');
           table.columns.adjust().draw();
         }
       });
     }
     {% endif %}

     {% if view_chk[4] %}
     // round_robin view
     if ("{{view_chk[4]}}") {
       const editable = function(node) {
         let orig_val;

         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $(e.target).removeClass("attn");
         });

         node.addEventListener('blur', function(e) {
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/round_robin/data', post_data)
              .done(function(resp) {
                console.log('POST /round_robin/data done: ', resp);
                if (resp.err) {
                  cell.data(orig_val).draw();
                  $(e.target).addClass("attn");
                  show_error(resp.err);
                }
                else if (resp.succ && resp.data) {
                  console.log('Updating row data: ', resp.data);
                  row.data(resp.data).draw();
                }
              })
              .fail(function(resp) {
                console.log('POST /round_robin/data fail: ', resp);
                cell.data(orig_val).draw();
                $(e.target).addClass("attn");
                show_error(resp.statusText);
                win = window.open('', '_blank')
                win.document.body.innerHTML = resp.responseText;
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#rr_tbl').DataTable({
         rowId: 'label',
         paging: false,
         scrollX: true,
         scrollY: '35rem',
         //fixedColumns: {
         //  start: 2
         //},
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/round_robin/data',
           dataSrc: 'data'
         },
         deferRender: true,
         columns: [
           {% for col in tg_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in tg_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         //order: [[0, 'asc']],  // tourn_game.id
         initComplete: function(settings, json) {
           $(".round_robin").css('display', 'block');
           table.columns.adjust().draw();
         }
       });
     }
     {% endif %}

     {% if err_msg %}
     show_error('{{err_msg|safe}}');
     {% endif %}
   });
  </script>
</html>
