<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <style>
     .red {
       background-color: #FFECEC;
     }
     .container {
       margin-top: 2.0rem;
       overflow-x: auto;
       white-space: nowrap;
     }
     .container_lbl {
       font-size: x-large;
       font-weight: bold;
     }
     .section {
       margin-top: 2.0rem;
       margin-bottom: 2.0rem;
     }
     .section_lbl {
       font-size: large;
       font-weight: bold;
     }
     table {
       margin-top: 1.5rem;
       border: 2px solid darkgrey;
       border-collapse: collapse;
     }
     th, td {
       border: 1px solid darkgrey;
       border-collapse: collapse;
       padding: 0.75em;
       text-align: center;
     }
     .hor_sect {
       border-bottom: 2px solid darkgrey;
     }
     .vert_sect {
       border-left: 2px solid darkgrey;
     }
     .plyr_lbl,
     .team_lbl{
       text-align: left;
       width: 10em;
     }
     .tally {
       vertical-align: bottom;
     }
     b {
       font-weight: bold;
       color: {{bold_color or "black"}};
     }
     u {
       text-decoration: solid underline grey 2px;
     }
    </style>
  </head>

  <body>
    <div class="container">
      <span class="container_lbl">{{tourn_name}} &ndash; {{title}}</span>
      {% if chart_num == 0 %}
      <div class="section seed_bracket">
        <table>
          <thead>
            <tr>
              <th class="hor_sect">Round</th>
              <th class="hor_sect vert_sect">Table 1</th>
              {% for tbl in range(2, rnd_tables + 1) %}
              <th class="hor_sect">Table {{tbl}}</th>
              {% endfor %}
              <th class="hor_sect">Bye(s)</th>
            </tr>
          </thead>
          <tbody>
            {% for rnd in range(1, seed_rnds + 1) %}
            <tr>
              <td>{{rnd}}</td>
              <td class="vert_sect">{{matchups[rnd][1]|safe}}</td>
              {% for tbl in range(2, rnd_tables + 1) %}
              <td>{{matchups[rnd][tbl]|safe}}</td>
              {% endfor %}
              {# the following just happens to render as "None" if no byes #}
              <td>{{matchups[rnd].get(None)|safe}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      {% if chart_num == 1 %}
      <div class="section seed_scores">
        <table>
          <thead>
            <tr>
              <th class="plyr_lbl hor_sect" rowspan="2">Player (by num)</th>
              <th class="hor_sect" rowspan="2">Wins</th>
              <th class="hor_sect" rowspan=2>Losses</th>
              <th class="vert_sect" colspan="{{seed_rnds}}">Points For (by round)</th>
              <th class="vert_sect" colspan="{{seed_rnds}}">Points Against (by round)</th>
              <th class="hor_sect vert_sect" rowspan="2">Win Pct</th>
              <th class="hor_sect" rowspan=2>Pts Diff</th>
              <th class="hor_sect" rowspan=2>Rank</th>
            </tr>
            <tr>
              <th class="hor_sect vert_sect">1</th>
              {% for rnd in range(2, seed_rnds + 1) %}
              <th class="hor_sect">{{rnd}}</th>
              {% endfor %}
              <th class="hor_sect vert_sect">1</th>
              {% for rnd in range(2, seed_rnds + 1) %}
              <th class="hor_sect">{{rnd}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for pl in players %}
            <tr>
              <td class="plyr_lbl">{{pl.player_tag|safe}}</td>
              <td class="tally"><img {{win_tallies[pl.player_num]|safe}} /></td>
              <td class="tally"><img {{loss_tallies[pl.player_num]|safe}} /></td>
              <td class="vert_sect">{{team_pts[pl.player_num].get(1, '-')|safe}}</td>
              {% for rnd in range(2, seed_rnds + 1) %}
              <td>{{team_pts[pl.player_num].get(rnd, '-')|safe}}</td>
              {% endfor %}
              <td class="vert_sect">{{opp_pts[pl.player_num].get(1, '-')|safe}}</td>
              {% for rnd in range(2, seed_rnds + 1) %}
              <td>{{opp_pts[pl.player_num].get(rnd, '-')|safe}}</td>
              {% endfor %}
              <td class="vert_sect">{{round_val(pl.seed_win_pct)}}%</td>
              <td>{{pl.seed_pts_diff}}</td>
              <td>{{pl.player_seed}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      {% if chart_num == 2 %}
      {% for div in div_list %}
      <div class="section rr_brackets">
        <span class="section_lbl">Division {{div}}</span>
        <table>
          <thead>
            <tr>
              <th class="hor_sect">Round</th>
              <th class="hor_sect vert_sect">Table 1</th>
              {% for tbl in range(2, rnd_tables + 1) %}
              <th class="hor_sect">Table {{tbl}}</th>
              {% endfor %}
              <th class="hor_sect">Bye</th>
            </tr>
          </thead>
          <tbody>
            {% for rnd in range(1, tourn_rnds + 1) %}
            <tr>
              <td>{{rnd}}</td>
              <td class="vert_sect">{{matchups[div][rnd][1]|safe}}</td>
              {% for tbl in range(2, rnd_tables + 1) %}
              <td>{{matchups[div][rnd][tbl]|safe}}</td>
              {% endfor %}
              {# the following just happens to render as "None" if no byes #}
              <td>{{matchups[div][rnd].get(None)|safe}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
      {% endif %}
      {% if chart_num == 3 %}
      {% for div in div_list %}
      <div class="section rr_scores">
        <span class="section_lbl">Division {{div}}</span>
        <table>
          <thead>
            <tr>
              <th class="plyr_lbl hor_sect" rowspan="2">Team (by div seed)</th>
              <th class="hor_sect" rowspan="2">Wins</th>
              <th class="hor_sect" rowspan=2>Losses</th>
              <th class="vert_sect" colspan="{{tourn_rnds}}">Points For (by round)</th>
              <th class="vert_sect" colspan="{{tourn_rnds}}">Points Against (by round)</th>
              <th class="hor_sect vert_sect" rowspan="2">Win Pct</th>
              <th class="hor_sect" rowspan=2>Pts Diff</th>
              <th class="hor_sect" rowspan=2>Div Rank</th>
            </tr>
            <tr>
              <th class="hor_sect vert_sect">1</th>
              {% for rnd in range(2, tourn_rnds + 1) %}
              <th class="hor_sect">{{rnd}}</th>
              {% endfor %}
              <th class="hor_sect vert_sect">1</th>
              {% for rnd in range(2, tourn_rnds + 1) %}
              <th class="hor_sect">{{rnd}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for tm in div_teams[div] %}
            <tr>
              <td class="team_lbl">{{tm.team_tag|safe}}</td>
              <td class="tally"><img {{win_tallies[div][tm.team_seed]|safe}} /></td>
              <td class="tally"><img {{loss_tallies[div][tm.team_seed]|safe}} /></td>
              <td class="vert_sect">{{team_pts[div][tm.team_seed].get(1, '-')|safe}}</td>
              {% for rnd in range(2, tourn_rnds + 1) %}
              <td>{{team_pts[div][tm.team_seed].get(rnd, '-')|safe}}</td>
              {% endfor %}
              <td class="vert_sect">{{opp_pts[div][tm.team_seed].get(1, '-')|safe}}</td>
              {% for rnd in range(2, tourn_rnds + 1) %}
              <td>{{opp_pts[div][tm.team_seed].get(rnd, '-')|safe}}</td>
              {% endfor %}
              <td class="vert_sect">{{round_val(tm.tourn_win_pct)}}%</td>
              <td>{{tm.tourn_pts_diff}}</td>
              <td>{{tm.div_rank}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </body>

  <script src="/static/jquery-3.7.1.min.js"></script>
  <script src="/static/datatables.min.js"></script>
  <script>
   $(function() {
     // document ready
   });
  </script>
</html>
