<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <style>
     .red {
       background-color: #FFECEC;
     }
     .container {
       overflow: hidden;
     }
     .section {
       margin-top: 1.0rem;
     }
     .section_lbl {
       font-size: larger;
       font-weight: bold;
     }
     .subsect {
       margin-top: 0.2rem;
       overflow: hidden;
     }
     .sel_tourn {
       width: 12rem;
     }
     .view {
       margin-left: 2.0rem;
     }
     .view_lbl {
       margin-right: 0.2rem;
     }
     .view label {
       margin-left: 0.35rem;
     }
     .info_blk,
     .stage_blk {
       padding: 0.5rem 0;
     }
     .info_blk span,
     .stage_blk span {
       margin-right: 1.5rem;
     }
     .info_blk input,
     .stage_blk input {
       margin-left: 0.3rem;
     }
     .players {
       display: {{"block;" if view_chk[0] else "none;"}}
       width: 70rem;
     }
     .seeding {
       display: {{"block;" if view_chk[1] else "none;"}}
       width: 70rem;
     }
     .partners {
       display: {{"block;" if view_chk[2] else "none;"}}
       width: 70rem;
     }
     .teams {
       display: {{"block;" if view_chk[3] else "none;"}}
       width: 70rem;
     }
     .round_robin {
       display: {{"block;" if view_chk[4] else "none;"}}
       width: 70rem;
     }
     form {
       overflow: hidden;
     }
     .info {
       width: 27rem;
       float: left;
     }
     .info_msg {
       display: block;
     }
     .err_msg {
       display: block;
       color: #FF0000;
     }
     .buttons {
       clear: both;
       padding: 1.0rem 0;
     }
     table {
       margin-top: 0.3rem;
     }
     .pname {
       width: 10.5rem;
     }
     .td_lbl {
       text-align: right;
     }
     .td_txt,
     .td_file,
     .td_num,
     .td_dec {
       text-align: left;
     }
     input[readonly] {
       border: thin solid grey;
       background-color: #F0F0F0;
     }
     input[type="text"] {
       width: 12rem;
     }
     input[type="number"] {
       width: 3rem;
     }
     input::-webkit-outer-spin-button,
     input::-webkit-inner-spin-button {
       -webkit-appearance: none;
       margin: 0;
     }
    </style>
    <link href="/static/datatables.min.css" rel="stylesheet">
  </head>

  <body>
    {% if not tourn or (tourn.stage_compl or 0) < 2 %}
    <form action="/" method="post" enctype="multipart/form-data">
      <div class="section">
        <span>Pick tournament:</span>
        <select name="tourn" class="sel_tourn">
          {% if new_tourn %}
          {% for tourn_name in tourn_list %}
          <option value="{{tourn_name}}"{{" selected" if tourn_name == sel_new else ""}}{{" disabled" if tourn_name == sel_sep else ""}}>{{tourn_name}}</option>
          {% endfor %}
          {% elif tourn %}
          {% for tourn_name in tourn_list %}
          <option value="{{tourn_name}}"{{" selected" if tourn_name == tourn.name else ""}}{{" disabled" if tourn_name == sel_sep else ""}}>{{tourn_name}}</option>
          {% endfor %}
          {% else %}
          <option value="" disabled selected></option>
          {% for tourn_name in tourn_list %}
          <option value="{{tourn_name}}"{{" disabled" if tourn_name == sel_sep else ""}}>{{tourn_name}}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
      {% if new_tourn %}
      <div class="container">
        <div class="section info">
          <span class="section_lbl">New Tournament Info</span>
          <table class="tourn_params">
            <colgroup>
              <col class="pname">
              <col class="pval">
            </colgroup>
            <tr>
              <td class="td_lbl">Name:</td>
              <td class="td_txt">
                <input name="tourn_name" type="text" value="{{tourn.name if tourn.name else ''}}" placeholder="required (must be unique)" required>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Timeframe:</td>
              <td class="td_txt">
                <input name="timeframe" type="text" value="{{tourn.timeframe if tourn.timeframe else ''}}">
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Venue:</td>
              <td class="td_num">
                <input name="venue" type="text" value="{{tourn.venue if tourn.venue else ''}}">
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Seeding Rounds:</td>
              <td class="td_num">
                <input name="seed_rounds" type="number" value="{{tourn.seed_rounds}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Tournament Rounds:</td>
              <td class="td_num">
                <input name="tourn_rounds" type="number" value="{{tourn.tourn_rounds}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Tournament Divisions:</td>
              <td class="td_num">
                <input name="divisions" type="number" value="{{tourn.divisions}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Roster File:</td>
              <td class="td_file">
                <input name="roster_file" type="file" accept=".csv">
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Overwrite Existing?</td>
              <td>
                <input type="checkbox" name="force" value="yes">
              </td>
            </tr>
          </table>
        </div>
        <div class="section">
          <span class="section_lbl">Messages</span>
          <span class="info_msg">
            {% for info_msg in info_msgs %}
            {{info_msg}}<br/>
            {% endfor %}
          </span>
          <span class="err_msg">
            {% for err_msg in err_msgs %}
            {{err_msg}}<br/>
            {% endfor %}
          </span>
        </div>
        <div class="section">
          <span class="section_lbl">Current Stage</span>
          <span class="info_msg">{{tourn.cur_stage if tourn.cur_stage else ''}}</span>
        </div>
      </div>
      <div class="section buttons">
        <button class="submit" value="create_tourn">Create Tournament</button>
      </div>
      {% elif tourn %}
      <div class="container">
        <div class="section info">
          <span class="section_lbl">Tournament Info</span>
          <table class="tourn_params">
            <colgroup>
              <col class="pname">
              <col class="pval">
            </colgroup>
            <tr>
              <td class="td_lbl">Name:</td>
              <td class="td_txt">
                <input name="tourn_name" type="text" value="{{tourn.name}}" readonly>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Timeframe:</td>
              <td class="td_txt">
                <input name="timeframe" type="text" value="{{tourn.timeframe}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Venue:</td>
              <td class="td_num">
                <input name="venue" type="text" value="{{tourn.venue}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Seeding Rounds:</td>
              <td class="td_num">
                <input name="seed_rounds" type="number" value="{{tourn.seed_rounds}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Tournament Rounds:</td>
              <td class="td_num">
                <input name="tourn_rounds" type="number" value="{{tourn.tourn_rounds}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Tournament Divisions:</td>
              <td class="td_num">
                <input name="divisions" type="number" value="{{tourn.divisions}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Roster File:</td>
              {% if roster_file %}
              <td class="td_text">
                <input name="roster_file" type="text" value="{{roster_file}}" disabled>
              </td>
              {% else %}
              <td class="td_file">
                <input name="roster_file" type="file" accept=".csv">
              </td>
              {% endif %}
            </tr>
          </table>
        </div>
        <div class="section">
          <span class="section_lbl">Messages</span>
          <span class="info_msg">
            {% for info_msg in info_msgs %}
            {{info_msg}}<br/>
            {% endfor %}
          </span>
          <span class="err_msg">
            {% for err_msg in err_msgs %}
            {{err_msg}}<br/>
            {% endfor %}
          </span>
        </div>
        <div class="section">
          <span class="section_lbl">Current Stage</span>
          <span class="info_msg">{{tourn.cur_stage if tourn.cur_stage else ''}}</span>
        </div>
      </div>
      <div class="section buttons">
        <button class="submit" value="update_tourn"}}">Upload Roster File</button>
        <button class="submit" value="create_roster"}}">Manually Create Roster</button>
      </div>
      {% endif %}  {# new_tourn #}
    </form>
    {% else %}  {# creating tourn #}
    <div class="container">
      <div class="section">
        <span class="section_lbl">Tournament</span>
        <span class="view">
          <span class="view_lbl">View:</span>
          <label>Players<input type="radio" name="view_rdo" value="0"{{view_chk[0]}}></label>
          <label>Seeding<input type="radio" name="view_rdo" value="1"{{view_chk[1]}}></label>
          <label>Partners<input type="radio" name="view_rdo" value="2"{{view_chk[2]}}></label>
          <label>Teams<input type="radio" name="view_rdo" value="3"{{view_chk[3]}}></label>
          <label>Round Robin<input type="radio" name="view_rdo" value="4"{{view_chk[4]}}></label>
        </span>
        <div class="subsect info_blk">
          <span>Name:<input name="tourn_name" type="text" value="{{tourn.name}}" disabled></span>
          <span>Players:<input name="players" type="number" value="{{tourn.players}}" disabled></span>
          <span>Teams:<input name="teams" type="number" value="{{tourn.teams}}" disabled></span>
          <span>THM Teams:<input name="thm_teams" type="number" value="{{tourn.thm_teams}}" disabled></span>
        </div>
        <div class="subsect stage_blk">
          <span>Current Stage:<input name="cur_stage" type="text" value="{{tourn.cur_stage}}" disabled></span>
          <span>Next:<input name="next_action" type="text" value="{{tourn.next_action if tourn.next_action else ''}}" disabled></span>
        </div>
      </div>
      <div class="section players">
        <span class="section_lbl">Players</span>
        <table id="plyr_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in pl_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/" method="post">
            <input name="tourn_name" type="hidden" value="{{tourn.name}}">
            <button class="submit" value="gen_player_nums"}}">Generate Player Nums</button>
            <button class="submit" value="gen_seed_bracket"}}">Create Seeding Bracket</button>
          </form>
        </div>
      </div>
      <div class="section seeding">
        <span class="section_lbl">Seeding</span>
        <table id="seed_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in sg_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/" method="post">
            <input name="tourn_name" type="hidden" value="{{tourn.name}}">
            <button class="submit" value="fake_seed_results"}}">Generate Fake Results</button>
            <button class="submit" value="tabulate_seed_results"}}">Tabulate Seeding Results</button>
          </form>
        </div>
      </div>
      <div class="section partners">
        <span class="section_lbl">Partners</span>
        <table id="ptnr_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in pt_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/" method="post">
            <input name="tourn_name" type="hidden" value="{{tourn.name}}">
            <button class="submit" value="fake_partner_picks"}}">Generate Fake Picks</button>
            <button class="submit" value="gen_tourn_brackets"}}">Create Round Robin Brackets</button>
          </form>
        </div>
      </div>
      <div class="section teams">
        <span class="section_lbl">Teams</span>
      </div>
      <div class="section round_robin">
        <span class="section_lbl">Round Robin</span>
      </div>
    </div>
    {% endif %}  {# creating tourn #}
  </body>

  <script src="/static/jquery-3.7.1.min.js"></script>
  <script src="/static/datatables.min.js"></script>
  <script>
   $(function() {
     // add css and attributes
     $(".submit").attr({
       type: 'submit',
       name: "submit_func"
     });

     // tournament section
     $(".sel_tourn").on('change', function() {
       const tourn    = $(this).val();
       const tournStr = "?tourn=" + encodeURIComponent(tourn);
       const curpage  = window.location.origin + window.location.pathname;
       window.location.href = curpage + tournStr
     });

     // tournament views
     $(".view input").on('change', function() {
       const tourn    = $('.info_blk input[name="tourn_name"]').val();
       const view     = $(".view input:checked").val();
       const tournStr = "?tourn=" + encodeURIComponent(tourn);
       const viewStr  = "&view=" + encodeURIComponent(view);
       const curpage  = window.location.origin + window.location.pathname;
       window.location.href = curpage + tournStr + viewStr;
     });

     // players view
     if ("{{view_chk[0]}}") {
       const editable = function(node) {
         let orig_val;

         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $(e.target).removeClass("red");
         });

         node.addEventListener('blur', function(e) {
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/players', post_data)
              .done(function(resp) {
                //console.log('POST /players done: ', resp);
                if (resp.upd) {
                  console.log('Updating row data: ', resp.data);
                  row.data(resp.data).draw();
                }
              })
              .fail(function(resp) {
                console.log('POST /players fail: ', resp.responseText);
                cell.data(orig_val).draw();
                $(e.target).addClass("red");
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#plyr_tbl').DataTable({
         rowId: 'nick_name',
         paging: false,
         scrollX: true,
         scrollY: '30rem',
         fixedColumns: {
           start: 3
         },
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/players?tourn=' + encodeURIComponent(tourn),
           dataSrc: 'data'
         },
         columns: [
           {% for col in pl_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in pl_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         initComplete: function(settings, json) {
           table.columns.adjust().draw();
         }
       });
     }

     // seeding view
     if ("{{view_chk[1]}}") {
       const editable = function(node) {
         let orig_val;

         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $(e.target).removeClass("red");
         });

         node.addEventListener('blur', function(e) {
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/seeding', post_data)
              .done(function(resp) {
                //console.log('POST /seeding done: ', resp);
                if (resp.upd) {
                  console.log('Updating row data: ', resp.data);
                  row.data(resp.data).draw();
                }
              })
              .fail(function(resp) {
                console.log('POST /seeding fail: ', resp.responseText);
                cell.data(orig_val).draw();
                $(e.target).addClass("red");
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#seed_tbl').DataTable({
         rowId: 'label',
         paging: false,
         scrollX: true,
         scrollY: '30rem',
         fixedColumns: {
           start: 3
         },
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/seeding?tourn=' + encodeURIComponent(tourn),
           dataSrc: 'data'
         },
         columns: [
           {% for col in sg_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in sg_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         initComplete: function(settings, json) {
           table.columns.adjust().draw();
         }
       });
     }

     // partners view
     if ("{{view_chk[2]}}") {
       const editable = function(node) {
         let orig_val;

         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $(e.target).removeClass("red");
         });

         node.addEventListener('blur', function(e) {
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/partners', post_data)
              .done(function(resp) {
                //console.log('POST /partners done: ', resp);
                if (resp.err) {
                  console.log('POST /partners error: ', resp.err);
                  cell.data(orig_val).draw();
                  $(e.target).addClass("red");
                }
                else if (resp.upd) {
                  //console.log('Updating row data: ', resp.data);
                  //row.data(resp.data).draw();
                  console.log('Reloading table data (POST /partners)');
                  table.ajax.reload();
                }
              })
              .fail(function(resp) {
                console.log('POST /partners fail: ', resp.responseText);
                cell.data(orig_val).draw();
                $(e.target).addClass("red");
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#ptnr_tbl').DataTable({
         rowId: 'nick_name',
         paging: false,
         scrollX: true,
         scrollY: '30rem',
         fixedColumns: {
           start: 3
         },
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/partners?tourn=' + encodeURIComponent(tourn),
           dataSrc: 'data'
         },
         columns: [
           {% for col in pt_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in pt_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         order: {
           name: 'player_seed',
           dir: 'asc'
         },
         initComplete: function(settings, json) {
           table.columns.adjust().draw();
         }
       });
     }
   });
  </script>
</html>
