<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <style>
     .attn {
       background-color: #FFE4E1;
     }
     .demo {
       background-color: #AFEEEE;
     }
     .container {
       overflow: hidden;
     }
     .section {
       margin-top: 1.0rem;
     }
     .section_lbl {
       font-size: x-large;
       font-weight: bold;
     }
     .err_dlg {
       padding: 1.1rem 1.4rem;
     }
     .err_dlg div {
       width: 22rem;
       color: #D10000;
       overflow: auto;
     }
     .err_dlg button {
       margin-top: 1.2rem;
     }
     .hdr_view {
       display: inline-block;
       width: 11rem;
     }
     .subsect {
       margin-top: 0.5rem;
       overflow: hidden;
     }
     .sel_tourn {
       width: 12rem;
     }
     .view {
       margin-left: 1.5rem;
     }
     .view_lbl {
       margin-right: 0.1rem;
       font-weight: bold;
     }
     .view label {
       margin-left: 0.6rem;
       font-weight: bold;
     }
     .info_blk {
       padding: 0.8rem 0 0.5rem 1.0rem;
     }
     .stage_blk {
       padding-left: 1.0rem;
     }
     .info_blk span,
     .stage_blk span {
       margin-right: 1.5rem;
     }
     .info_blk input,
     .stage_blk input {
       margin-left: 0.3rem;
       padding: 0.1rem 0.35rem;
     }
     .players {
       display: {{"block;" if view_chk[0] else "none;"}}
       width: 80rem;
     }
     .seeding {
       display: {{"block;" if view_chk[1] else "none;"}}
       width: 80rem;
     }
     .partners {
       display: {{"block;" if view_chk[2] else "none;"}}
       width: 80rem;
     }
     .teams {
       display: {{"block;" if view_chk[3] else "none;"}}
       width: 80rem;
     }
     .round_robin {
       display: {{"block;" if view_chk[4] else "none;"}}
       width: 80rem;
     }
     form {
       overflow: hidden;
     }
     .info {
       width: 27rem;
       float: left;
     }
     .buttons {
       clear: both;
       padding: 1.0rem 0;
     }
     .buttons button {
       margin-right: 0.8rem;
       padding: 0.2rem 0.8rem;
     }
     .buttons a {
       margin-right: 0.5rem;
       #padding: 0.2rem 0.2rem;
     }
     .lnk_lbl {
       margin-left: 1.0rem;
       margin-right: 0.3rem;
     }
     table {
       margin-top: 0.3rem;
     }
     .pname {
       width: 10.5rem;
     }
     .td_lbl {
       text-align: right;
     }
     .td_txt,
     .td_file,
     .td_num,
     .td_dec {
       text-align: left;
     }
     input[readonly] {
       border: thin solid grey;
       background-color: #F0F0F0;
     }
     input[type="text"] {
       width: 12rem;
     }
     input[type="number"] {
       width: 3rem;
     }
     input::-webkit-outer-spin-button,
     input::-webkit-inner-spin-button {
       -webkit-appearance: none;
       margin: 0;
     }
    </style>
    <link href="/static/datatables.min.css" rel="stylesheet">
  </head>

  <body>
    <dialog class="err_dlg">
      <div></div>
      <button autofocus>Close</button>
    </dialog>
    {% if not tourn or (tourn.stage_compl or 0) < 2 %}
    <form action="/" method="post" enctype="multipart/form-data">
      <div class="section">
        <span>Pick tournament:</span>
        <select name="tourn" class="sel_tourn">
          {% if new_tourn %}
          {% for tourn_name in tourn_sel %}
          <option value="{{tourn_name}}"{{" selected" if tourn_name == sel_new else ""}}{{" disabled" if tourn_name == sel_sep else ""}}>{{tourn_name}}</option>
          {% endfor %}
          {% elif tourn %}
          {% for tourn_name in tourn_sel %}
          <option value="{{tourn_name}}"{{" selected" if tourn_name == tourn.name else ""}}{{" disabled" if tourn_name == sel_sep else ""}}>{{tourn_name}}</option>
          {% endfor %}
          {% else %}
          <option value="" disabled selected></option>
          {% for tourn_name in tourn_sel %}
          <option value="{{tourn_name}}"{{" disabled" if tourn_name == sel_sep else ""}}>{{tourn_name}}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
      {% if new_tourn %}
      <div class="container">
        <div class="section info">
          <span class="section_lbl">New Tournament Info</span>
          <table class="tourn_params">
            <colgroup>
              <col class="pname">
              <col class="pval">
            </colgroup>
            <tr>
              <td class="td_lbl">Name:</td>
              <td class="td_txt">
                <input name="tourn_name" type="text" value="{{tourn.name if tourn.name else ''}}" placeholder="required (must be unique)" required autofocus>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Timeframe:</td>
              <td class="td_txt">
                <input name="timeframe" type="text" value="{{tourn.timeframe if tourn.timeframe else ''}}">
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Venue:</td>
              <td class="td_num">
                <input name="venue" type="text" value="{{tourn.venue if tourn.venue else ''}}">
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Seeding Rounds:</td>
              <td class="td_num">
                <input name="seed_rounds" type="number" value="{{tourn.seed_rounds}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Tournament Rounds:</td>
              <td class="td_num">
                <input name="tourn_rounds" type="number" value="{{tourn.tourn_rounds}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Tournament Divisions:</td>
              <td class="td_num">
                <input name="divisions" type="number" value="{{tourn.divisions}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Roster File:</td>
              <td class="td_file">
                <input name="roster_file" type="file" accept=".csv">
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Overwrite Existing:</td>
              <td>
                <input type="checkbox" name="force" value="yes">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="section buttons">
        <button class="submit" value="{{btn_val[0]}}"{{btn_attr[0]}}>Create Tournament</button>
      </div>
      {% elif tourn %}
      <div class="container">
        <div class="section info">
          <span class="section_lbl">Tournament Info</span>
          <table class="tourn_params">
            <colgroup>
              <col class="pname">
              <col class="pval">
            </colgroup>
            <tr>
              <td class="td_lbl">Name:</td>
              <td class="td_txt">
                <input name="tourn_name" type="text" value="{{tourn.name}}" readonly>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Timeframe:</td>
              <td class="td_txt">
                <input name="timeframe" type="text" value="{{tourn.timeframe}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Venue:</td>
              <td class="td_num">
                <input name="venue" type="text" value="{{tourn.venue}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Seeding Rounds:</td>
              <td class="td_num">
                <input name="seed_rounds" type="number" value="{{tourn.seed_rounds}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Tournament Rounds:</td>
              <td class="td_num">
                <input name="tourn_rounds" type="number" value="{{tourn.tourn_rounds}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Tournament Divisions:</td>
              <td class="td_num">
                <input name="divisions" type="number" value="{{tourn.divisions}}" disabled>
              </td>
            </tr>
            <tr>
              <td class="td_lbl">Roster File:</td>
              {% if roster_file %}
              <td class="td_text">
                <input name="roster_file" type="text" value="{{roster_file}}" disabled>
              </td>
              {% else %}
              <td class="td_file">
                <input name="roster_file" type="file" accept=".csv">
              </td>
              {% endif %}
            </tr>
          </table>
        </div>
      </div>
      <div class="section buttons">
        <button class="submit" value="{{btn_val[1]}}"{{btn_attr[1]}}>Upload Roster File</button>
        <button class="submit" value="{{btn_val[2]}}"{{btn_attr[2]}}>Archive Tournament</button>
        <button class="submit" value="{{btn_val[3]}}"{{btn_attr[3]}}>Manually Create Roster</button>
      </div>
      {% endif %}  {# new_tourn #}
    </form>
    {% else %}  {# creating tourn #}
    <div class="container">
      <div class="section">
        <span class="section_lbl">{{tourn.name}} &ndash; <span class="hdr_view">{{view_name}}</span></span>
        <span class="view">
          <span class="view_lbl">View:</span>
          <label>Players<input type="radio" name="view_rdo" value="0"{{view_chk[0]}}></label>
          <label>Seeding<input type="radio" name="view_rdo" value="1"{{view_chk[1]}}></label>
          <label>Partners<input type="radio" name="view_rdo" value="2"{{view_chk[2]}}></label>
          <label>Teams<input type="radio" name="view_rdo" value="3"{{view_chk[3]}}></label>
          <label>Round Robin<input type="radio" name="view_rdo" value="4"{{view_chk[4]}}></label>
        </span>
        <div class="subsect info_blk">
          <input name="tourn_name" type="text" value="{{tourn.name}}" hidden>
          <span>Players:<input name="players" type="number" value="{{tourn.players}}" disabled></span>
          <span>Teams:<input name="teams" type="number" value="{{tourn.teams}}" disabled></span>
          <span>THM Teams:<input name="thm_teams" type="number" value="{{tourn.thm_teams}}" disabled></span>
        </div>
        <div class="subsect stage_blk">
          <span>Current Stage:<input name="cur_stage" type="text" value="{{tourn.cur_stage}}" disabled></span>
          <span>Next:<input name="next_action" type="text" value="{{tourn.next_action if tourn.next_action else ''}}" disabled></span>
        </div>
      </div>

      <div class="section players">
        <table id="plyr_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in pl_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/" method="post">
            <input name="tourn_name" type="hidden" value="{{tourn.name}}">
            <button class="submit" value="{{btn_val[4]}}"{{btn_attr[4]}}>Generate Player Nums</button>
            <button class="submit" value="{{btn_val[5]}}"{{btn_attr[5]}}>Create Seeding Bracket</button>
          </form>
        </div>
      </div>

      <div class="section seeding">
        <table id="seed_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in sg_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/" method="post">
            <input name="tourn_name" type="hidden" value="{{tourn.name}}">
            <button class="submit demo" value="{{btn_val[6]}}"{{btn_attr[6]}}>Generate Fake Results</button>
            <button class="submit" value="{{btn_val[7]}}"{{btn_attr[7]}}>Tabulate Results</button>
            <span class="lnk_lbl">Display Chart:</span>
            <a href="#" onclick="window.open('/chart/sd_bracket/{{tourn.name}}', '_blank')"">Seeding Round Bracket</a>
            <a href="#" onclick="window.open('/chart/sd_scores/{{tourn.name}}', '_blank')"">Seeding Round Scores</a>
          </form>
        </div>
      </div>

      <div class="section partners">
        <table id="ptnr_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in pt_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/" method="post">
            <input name="tourn_name" type="hidden" value="{{tourn.name}}">
            <button class="submit demo" value="{{btn_val[8]}}"{{btn_attr[8]}}>Generate Fake Picks</button>
            <button class="submit" value="{{btn_val[9]}}"{{btn_attr[9]}}>Compute Team Seeds</button>
          </form>
        </div>
      </div>

      <div class="section teams">
        <table id="team_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in tm_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/" method="post">
            <input name="tourn_name" type="hidden" value="{{tourn.name}}">
            <button class="submit" value="{{btn_val[10]}}"{{btn_attr[10]}}>Create Round Robin Brackets</button>
          </form>
        </div>
      </div>

      <div class="section round_robin">
        <table id="rr_tbl" class="display" spellcheck="false">
          <thead>
            <tr>
              {% for col in tg_layout %}
              <th>{{col[1]}}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="subsection buttons">
          <form action="/" method="post">
            <input name="tourn_name" type="hidden" value="{{tourn.name}}">
            <button class="submit demo" value="{{btn_val[11]}}"{{btn_attr[11]}}>Generate Fake Results</button>
            <button class="submit" value="{{btn_val[12]}}"{{btn_attr[12]}}>Tabulate Results</button>
            <span class="lnk_lbl">Display Chart:</span>
            <a href="#" onclick="window.open('/chart/rr_brackets/{{tourn.name}}', '_blank')"">Round Robin Brackets</a>
            <a href="#" onclick="window.open('/chart/rr_scores/{{tourn.name}}', '_blank')"">Round Robin Scores</a>
          </form>
        </div>
      </div>
    </div>
    {% endif %}  {# creating tourn #}
  </body>

  <script src="/static/jquery-3.7.1.min.js"></script>
  <script src="/static/datatables.min.js"></script>
  <script>
   $(function() {
     // add css and attributes
     $(".submit").attr({
       type: 'submit',
       name: "submit_func"
     });

     // error dialog
     $('.err_dlg button').on('click', function() {
       $('.err_dlg')[0].close();
     });
     const show_error = function(err_text) {
       $('.err_dlg div').text(err_text);
       $('.err_dlg')[0].showModal();
     };

     // tournament section
     $(".sel_tourn").on('change', function() {
       const tourn    = $(this).val();
       const tournStr = "?tourn=" + encodeURIComponent(tourn);
       const curpage  = window.location.origin + window.location.pathname;
       window.location.href = curpage + tournStr
     });

     // tournament views
     $(".view input").on('change', function() {
       const tourn    = $('.info_blk input[name="tourn_name"]').val();
       const view     = $(".view input:checked").val();
       const tournStr = "?tourn=" + encodeURIComponent(tourn);
       const viewStr  = "&view=" + encodeURIComponent(view);
       const curpage  = window.location.origin + window.location.pathname;
       window.location.href = curpage + tournStr + viewStr;
     });

     // players view
     if ("{{view_chk[0]}}") {
       const editable = function(node) {
         let orig_val;

         node.classList.add("pick");
         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $(e.target).removeClass("attn");
         });

         node.addEventListener('blur', function(e) {
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/players', post_data)
              .done(function(resp) {
                console.log('POST /players done: ', resp);
                if (resp.err) {
                  cell.data(orig_val).draw();
                  $(e.target).addClass("attn");
                  show_error(resp.err);
                }
                else if (resp.succ && resp.data) {
                  console.log('Updating row data: ', resp.data);
                  row.data(resp.data).draw();
                }
              })
              .fail(function(resp) {
                console.log('POST /players fail: ', resp);
                cell.data(orig_val).draw();
                $(e.target).addClass("attn");
                show_error(resp.statusText);
                win = window.open('', '_blank')
                win.document.body.innerHTML = resp.responseText;
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#plyr_tbl').DataTable({
         rowId: 'nick_name',
         paging: false,
         scrollX: true,
         scrollY: '35rem',
         //fixedColumns: {
         //  start: 3
         //},
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/players?tourn=' + encodeURIComponent(tourn),
           dataSrc: 'data'
         },
         columns: [
           {% for col in pl_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in pl_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         //order: [[0, 'asc']],  // player.id
         initComplete: function(settings, json) {
           table.columns.adjust().draw();
         }
       });
     }

     // seeding view
     if ("{{view_chk[1]}}") {
       const editable = function(node) {
         let orig_val;

         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $(e.target).removeClass("attn");
         });

         node.addEventListener('blur', function(e) {
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/seeding', post_data)
              .done(function(resp) {
                console.log('POST /seeding done: ', resp);
                if (resp.err) {
                  cell.data(orig_val).draw();
                  $(e.target).addClass("attn");
                  show_error(resp.err);
                }
                else if (resp.succ && resp.data) {
                  console.log('Updating row data: ', resp.data);
                  row.data(resp.data).draw();
                }
              })
              .fail(function(resp) {
                console.log('POST /seeding fail: ', resp);
                cell.data(orig_val).draw();
                $(e.target).addClass("attn");
                show_error(resp.statusText);
                win = window.open('', '_blank')
                win.document.body.innerHTML = resp.responseText;
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#seed_tbl').DataTable({
         rowId: 'label',
         paging: false,
         scrollX: true,
         scrollY: '35rem',
         //fixedColumns: {
         //  start: 3
         //},
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/seeding?tourn=' + encodeURIComponent(tourn),
           dataSrc: 'data'
         },
         columns: [
           {% for col in sg_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in sg_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         //order: [[0, 'asc']],  // seed_game.id
         initComplete: function(settings, json) {
           table.columns.adjust().draw();
         }
       });
     }

     // partners view
     if ("{{view_chk[2]}}") {
       const editable = function(node) {
         let orig_val;

         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $('td[contenteditable].attn').removeClass("attn");
           window.getSelection().selectAllChildren(e.target);
         });

         node.addEventListener('blur', function(e) {
           window.getSelection().empty();
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/partners', post_data)
              .done(function(resp) {
                console.log('POST /partners done: ', resp);
                if (resp.err) {
                  cell.data(orig_val).draw();
                  $(e.target).addClass("attn");
                  show_error(resp.err);
                }
                else if (resp.data == 'all') {
                  console.log('Reloading table data');
                  table.ajax.reload();
                }
              })
              .fail(function(resp) {
                console.log('POST /partners fail: ', resp);
                cell.data(orig_val).draw();
                $(e.target).addClass("attn");
                show_error(resp.statusText);
                win = window.open('', '_blank')
                win.document.body.innerHTML = resp.responseText;
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#ptnr_tbl').DataTable({
         rowId: 'nick_name',
         paging: false,
         scrollX: true,
         scrollY: '35rem',
         //fixedColumns: {
         //  start: 3
         //},
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/partners?tourn=' + encodeURIComponent(tourn),
           dataSrc: 'data'
         },
         columns: [
           {% for col in pt_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in pt_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         order: [[1, 'asc']],  // player_seed
         initComplete: function(settings, json) {
           table.columns.adjust().draw();
         }
       });

       // TODO: set initial focus (and/or highlight) here!!!
     }

     // teams view
     if ("{{view_chk[3]}}") {
       const editable = function(node) {
         let orig_val;

         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $(e.target).removeClass("attn");
         });

         node.addEventListener('blur', function(e) {
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/teams', post_data)
              .done(function(resp) {
                console.log('POST /teams done: ', resp);
                if (resp.err) {
                  cell.data(orig_val).draw();
                  $(e.target).addClass("attn");
                  show_error(resp.err);
                }
                else if (resp.succ && resp.data) {
                  console.log('Updating row data: ', resp.data);
                  row.data(resp.data).draw();
                }
              })
              .fail(function(resp) {
                console.log('POST /teams fail: ', resp);
                cell.data(orig_val).draw();
                $(e.target).addClass("attn");
                show_error(resp.statusText);
                win = window.open('', '_blank')
                win.document.body.innerHTML = resp.responseText;
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#team_tbl').DataTable({
         rowId: 'team_name',
         paging: false,
         scrollX: true,
         scrollY: '35rem',
         //fixedColumns: {
         //  start: 2
         //},
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/teams?tourn=' + encodeURIComponent(tourn),
           dataSrc: 'data'
         },
         columns: [
           {% for col in tm_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in tm_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         order: [[1, 'asc']],  // teem_seed
         initComplete: function(settings, json) {
           table.columns.adjust().draw();
         }
       });
     }

     // round_robin view
     if ("{{view_chk[4]}}") {
       const editable = function(node) {
         let orig_val;

         node.setAttribute('contenteditable', true);
         node.addEventListener('keypress', function(e) {
           if (e.which == 13) {
             e.preventDefault();
             $(this).trigger('blur');
             $(this).next('td').focus();
             //return false;
           }
         });

         node.addEventListener('focus', function(e) {
           orig_val = e.target.textContent;
           $(e.target).removeClass("attn");
         });

         node.addEventListener('blur', function(e) {
           if (e.target.textContent !== orig_val) {
             const cell = table.cell(e.target)
             const row = table.row(e.target.parentElement);
             cell.data(e.target.textContent).draw();

             const post_data = $.extend({tourn: "{{tourn.name}}"}, row.data());
             $.post('/round_robin', post_data)
              .done(function(resp) {
                console.log('POST /round_robin done: ', resp);
                if (resp.err) {
                  cell.data(orig_val).draw();
                  $(e.target).addClass("attn");
                  show_error(resp.err);
                }
                else if (resp.succ && resp.data) {
                  console.log('Updating row data: ', resp.data);
                  row.data(resp.data).draw();
                }
              })
              .fail(function(resp) {
                console.log('POST /round_robin fail: ', resp);
                cell.data(orig_val).draw();
                $(e.target).addClass("attn");
                show_error(resp.statusText);
                win = window.open('', '_blank')
                win.document.body.innerHTML = resp.responseText;
              });
         }});
       };

       const tourn = $('.info_blk input[name="tourn_name"]').val();
       const table = $('#rr_tbl').DataTable({
         rowId: 'label',
         paging: false,
         scrollX: true,
         scrollY: '35rem',
         //fixedColumns: {
         //  start: 2
         //},
         columnControl: {
           target: 1,
           content: ['search']
         },
         ajax: {
           url: '/round_robin?tourn=' + encodeURIComponent(tourn),
           dataSrc: 'data'
         },
         columns: [
           {% for col in tg_layout %}
           {data: '{{col[0]}}'},
           {% endfor %}
         ],
         columnDefs: [
           {% for col in tg_layout %}
           {% if col[2] == 'hidden' %}
           {target: {{loop.index0}}, visible: false, searchable: false},
           {% elif col[2] == 'centered' %}
           {target: {{loop.index0}}, className: 'dt-center'},
           {% elif col[2] == 'editable' %}
           {target: {{loop.index0}}, createdCell: editable},
           {% else %}
           {target: {{loop.index0}}},
           {% endif %}
           {% endfor %}
         ],
         //order: [[0, 'asc']],  // tourn_game.id
         initComplete: function(settings, json) {
           table.columns.adjust().draw();
         }
       });
     }

     {% if err_msg %}
     show_error('{{err_msg|safe}}');
     {% endif %}
   });
  </script>
</html>
