<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <style>
     .err_blk {
       color: #D10000;
       margin-top: 1.0rem;
       display: none;
     }
     p label {
       display: block;
     }
     select {
       width: 12.5rem;
     }
     input {
       width: 12rem;
     }
     button,
     select,
     input {
       padding: 0.1rem 0.2rem;
     }
     .actions {
       display: flex;
     }
     .actions p {
       margin: 0.7rem 0rem;
     }
    </style>
  </head>

  <body>
    <form action="/login" method="post" enctype="multipart/form-data">
      <h1>Login</h1>
      <section>
        <p>
          <label for="username">User:</label>
          <select id="username" name="username" required>
            {% if logins %}
            <option value="" disabled selected hidden>Select player...</option>
            {% for login in logins %}
            <option value="{{login[0]}}">{{login[1]}}</option>
            {% endfor %}
            {% else %}
            <option value="{{admin_user}}" selected>{{admin_user}}</option>
            {% endif %}
          </select>
        </p>
        <p>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password">
        </p>
      </section>
      <section class="actions">
        <p>
          <button type="submit">Login</button>
        </p>
      </section>
    </form>
    <section class="err_blk">
      <div>
      </div>
    </section>
  </body>

  <script src="/static/jquery-3.7.1.min.js"></script>
  <script>
   $(function() {
     // error block
     const show_error = function(err_text) {
       $('.err_blk div').text(err_text);
       $('.err_blk').css('display', 'flex');
     };
     $('body').on('click', function() {
       $('.err_blk').css('display', 'none');
     });

     {% if err_msg %}
     show_error("{{err_msg|safe}}");
     {% endif %}
   });
  </script>
</html>
